<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <style>
        body {
            background-color: #283d83;
        }
    </style>
</head>
<body>
Это шаблон. Текущее время {{ time }}
<br>session_id {{ session_id }}
<br>
<form method="post">
    <input name="name">
    <button type="submit">send</button>
</form>

<br>
{% if some_bool %}
YAHOOOO!
{% endif %}
<br>
{% for i in lst %}
<br>

{% if some_bool %}
<br>
YAHOOOO!
<br>
{% endif %}

{% if i.one %}
one: {{ i.one }}
{% endif %}

{% if i.two %}
two: {{ i.two }}
{% endif %}

{% endfor %}
<br>
-------------------------------------------
{% for k in lst2 %}
<br>
one: {{ k.one }} two: {{ k.two }}
{% endfor %}
<br>
-------------------------------------------
{% for i in lst3 %}
<br>
one: {{ i }}
{% endfor %}

</body>
</html>